{% extends "base.html" %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about.min.css')}}"/>
{% endblock %}
{% block content %}
<div class="about">
	<div class="div-container">
		<h3 class="title">{{ headers.translations.about_data_title }}</h3>
		<p>{{ headers.translations.about_data_p1 }}</p>
		<p>{{ headers.translations.about_data_p2 }}</p>
		<p>{{ headers.translations.about_data_p3 }}</p>
		<h3 class="title">{{ headers.translations.about_what_title }}</h3>
		<p><strong>{{ headers.translations.about_what_p1_title }}:</strong> {{ headers.translations.about_what_p1 }}</p>
		<p><strong>{{ headers.translations.about_what_p2_title }}:</strong> {{ headers.translations.about_what_p2 }}</p>
		<p><strong>{{ headers.translations.about_what_p3_title }}:</strong> {{ headers.translations.about_what_p3 }}</p>
		<p><strong>{{ headers.translations.about_what_p4_title }}:</strong> {{ headers.translations.about_what_p4 }}</p>
		<h3 class="title">{{ headers.translations.about_web_title }}</h3>
		<p>{{ headers.translations.about_web_p1 }}</p>
		<p>{{ headers.translations.about_web_p2 }}</p>
		<p>{{ headers.translations.about_web_p3 }}</p>
		<h3 class="title">{{ headers.translations.about_oeg_title }}</h3>
		<p>{{ headers.translations.about_oeg_p1 }}</p>
		<p>{{ headers.translations.about_oeg_p2 }}</p>
		<p>
			<strong>
				<a href="http://mayor2.dia.fi.upm.es/oeg-upm/index.php/{{ headers.session.device_lang }}/technologies/151-geometry2rdf/index.html" target="_blank">geometry2rdf</a>:
			</strong> {{ headers.translations.about_oeg_p3 }}
			<a href="https://github.com/oeg-upm/geo.linkeddata.es-TripleGeoKettle" target="_blank">TripleGeo</a>{{ headers.translations.about_oeg_p4}}
		</p>
		<p><strong><a href="http://mayor2.dia.fi.upm.es/oeg-upm/index.php/{{ headers.session.device_lang }}/technologies/172-map4rdf/index.html" target="_blank">map4rdf</a>:</strong> {{ headers.translations.about_oeg_p5 }}</p>
		<p>{{ headers.translations.about_oeg_p6 }} <a href="http://www.oeg-upm.net" target="_blank">Ontology Engineering Group</a> {{ headers.translations.about_oeg_p7 }}</p>
		<p>{{ headers.translations.about_oeg_p8 }}</p>
	</div>
</div>
{% endblock %}
