<!DOCTYPE html>
{% if request.path == '/' %}
<html class="no-js condensed" xml:lang="{{ headers.session.device_lang }}" lang="{{ headers.session.device_lang }}">
{% else %}
<html class="no-js expanded" xml:lang="{{ headers.session.device_lang }}" lang="{{ headers.session.device_lang }}">
{% endif %}
    <head>
        <title>{{ headers.translations.title }}</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="x-rim-auto-match" content="none"/>
        <meta http-equiv="Content-Language" content="{{ headers.session.device_lang }}">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta name="HandheldFriendly" content="true"/>
        <meta name="MobileOptimized" content="width"/>
        <meta name="author" content="Ontology Engineering Group"/>
        <meta name="keywords" content="geo, resource, open data, datasets">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="googlebot" content="nofollow"/>
        <meta name="robots" content="noimageindex, noarchive"/>
        <meta name="msapplication-tap-highlight" content="no"/>
        <meta name="msapplication-TileColor" content="#2b5797"/>
        <meta name="msapplication-TileImage" content="{{ headers.domain }}/static/img-fav/mstile-144x144.png"/>
        <meta name="msapplication-config" content="{{ headers.domain }}/static/img-fav/browserconfig.xml"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="theme-color" content="#2b5797"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:author" content="@oeg_upm"/>
        <meta name="twitter:url" content="{{ headers.domain }}{{ request.path }}"/>
        <meta name="twitter:title" content="{{ headers.translations.twitter_title }}"/>
        {% if 'image' in headers %}
        <meta property="twitter:image" content="{{ headers.domain }}/static/img/{{ headers.image.name }}"/>
        <meta property="twitter:image:alt" content="{{ headers.image.alt }}"/>
        {% else %}
        <meta property="twitter:image" content="{{ headers.domain }}/static/img-logo/logo-share.jpg"/>
        <meta property="twitter:image:alt" content="{{ headers.translations.title }} Logo"/>
        {% endif %}
        <meta name="twitter:description" content="{{ headers.translations.description }}"/>
        <meta name="description" content="{{ headers.translations.description }}"/>
        <meta name="og:description" content="{{ headers.translations.description }}"/>
        {% if headers.session.device_lang == 'es' %}
        <meta property="og:locale" content="es_ES"/>
        {% else %}
        <meta property="og:locale" content="en_GB"/>
        {% endif %}
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ headers.domain }}{{ request.path }}"/>
        {% if 'site' in headers %}
        <meta property="og:site_name" content="GeoLinkeddata - {{ headers.site }}"/>
        {% else %}
        <meta property="og:site_name" content="GeoLinkeddata"/>
        {% endif %}
        {% if 'image' in headers %}
        <meta property="og:image" content="{{ headers.domain }}/static/img/{{ headers.image.name }}"/>
        <meta property="og:image:width" content="{{ headers.image.width }}"/>
        <meta property="og:image:height" content="{{ headers.image.height }}"/>
        {% else %}
        <meta property="og:image" content="{{ headers.domain }}/static/img-logo/logo-share.jpg"/>
        <meta property="og:image:width" content="1024"/>
        <meta property="og:image:height" content="535"/>
        {% endif %}
        <link rel="canonical" href="{{ headers.domain }}"/>
        <link rel="shortlink" href="{{ headers.domain }}"/>
        <link rel="icon" href="{{url_for('static', filename='img-fav/favicon.ico')}}"/>
        <link rel="manifest" href="{{url_for('static', filename='img-fav/manifest.json')}}"/>
        <link rel="mask-icon" href="{{url_for('static', filename='img-fav/safari-pinned-tab.svg')}}" color="#2b5797">
        <link rel="shortcut icon" href="{{url_for('static', filename='img-fav/favicon.ico')}}"/>
        <link rel="favourite icon" href="{{url_for('static', filename='img-fav/favicon.ico')}}" type="image/x-icon"/>
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img-fav/apple-touch-icon-precomposed.png')}}"/>
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img-fav/apple-touch-icon-72x72-precomposed.png')}}"/>
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img-fav/apple-touch-icon-76x76-precomposed.png')}}"/>
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img-fav/apple-touch-icon-114x114-precomposed.png')}}"/>
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img-fav/apple-touch-icon-120x120-precomposed.png')}}"/>
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img-fav/apple-touch-icon-144x144-precomposed.png')}}"/>
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img-fav/apple-touch-icon-152x152-precomposed.png')}}"/>
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img-fav/apple-touch-icon-180x180-precomposed.png')}}"/>
        <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='img-fav/apple-touch-icon-57x57.png')}}"/>
        <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='img-fav/apple-touch-icon-60x60.png')}}"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='img-fav/apple-touch-icon-72x72.png')}}"/>
        <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='img-fav/apple-touch-icon-76x76.png')}}"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='img-fav/apple-touch-icon-114x114.png')}}"/>
        <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='img-fav/apple-touch-icon-120x120.png')}}"/>
        <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='img-fav/apple-touch-icon-144x144.png')}}"/>
        <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='img-fav/apple-touch-icon-152x152.png')}}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='img-fav/apple-touch-icon-180x180.png')}}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img-fav/favicon-16x16.png')}}"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img-fav/favicon-32x32.png')}}"/>
        <link rel="icon" type="image/png" sizes="48x48" href="{{url_for('static', filename='img-fav/favicon-48x48.png')}}"/>
        <link rel="icon" type="image/png" sizes="72x72" href="{{url_for('static', filename='img-fav/favicon-72x72.png')}}"/>
        <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='img-fav/favicon-96x96.png')}}"/>
        <link rel="icon" type="image/png" sizes="192x192" href="{{url_for('static', filename='img-fav/android-chrome-192x192.png')}}"/>
        <link rel="icon" type="image/png" sizes="194x194" href="{{url_for('static', filename='img-fav/favicon-194x194.png')}}"/>
        <link rel="icon" type="image/png" sizes="256x256" href="{{url_for('static', filename='img-fav/android-chrome-256x256.png')}}"/>
        <link rel="icon" type="image/png" sizes="384x384" href="{{url_for('static', filename='img-fav/android-chrome-384x384.png')}}"/>
        <link rel="icon" type="image/png" sizes="512x512" href="{{url_for('static', filename='img-fav/android-chrome-512x512.png')}}"/>
        {% if headers.debug == False %}
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', '{{ headers.tokens.analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript" async src='https://www.google-analytics.com/analytics.js'></script>
        {% endif %}
        <script type="text/javascript" src="{{url_for('static', filename='js/base.min.js')}}"></script>
        {% block head_js %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.min.css')}}"/>
        {% block head_css %}
        {% endblock %}
    </head>
    <body>
        <span id="mega-container">
            <section class="fit-container">
                <div id="credits-container">
                    <div class="div-container elements-row y-centered">
                        <div class="elements-row y-centered">
                            <div class="logo-rdf" title="RDF"></div>
                            <div class="logo-open" title="Open Data License"></div>
                        </div>
                        <div class="accounts elements-row y-centered">
                            {% if headers.session.logged == False %}
                            <a id="but-account" href="/login">{{ headers.translations.button_signin }}</a>
                            {% else %}
                            <a id="but-account" href="/accounts/{{ headers.session.user_id }}">{{ headers.session.user_name }}</a>
                            {% endif %}
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <nav id="nav-container" role="navigation">
                    <div class="div-container elements-row">
                        <div class="nav-logo elements-row y-centered">
                            <a class="nav-logo-img" role="logo" href="/" title="GeoLinkeddata">
                                <img alt="GeoLinkeddata" src="{{url_for('static', filename='img-logo/logo-small.jpg')}}">
                            </a>
                            <div class="nav-logo-text">
                                <h1 class="up" role="banner">{{ headers.translations.title }}</h1>
                                <h2 class="down text-grey">{{ headers.translations.subtitle }}</h2>
                            </div>
                        </div>
                        <div class="nav-right elements-row y-centered">
                            <span id="burguer-button" class="fa fa-bars text-click" aria-hidden="true"></span>
                            {% if request.path == '/' %}
                            <nav id="nav-buttons" role="navigation">
                                <ol class="flex elements-row">
                                    <li class="pad-right"><a href="/about">{{ headers.translations.button_about }}</a></li>
                                    <li class="pad-right"><a href="/data">{{ headers.translations.button_datasets }}</a></li>
                                    <li><a href="/organizations">{{ headers.translations.button_org }}</a></li>
                                </ol>
                            </nav>
                            {% else %}
                            <div id="nav-search" role="search">
                                <div class="div-container">
                                    <form class="flex elements-row y-centered" action="/search" method="get" >
                                        <input data-hotkey="s" name="value" aria-label="{{ headers.translations.button_search }}" placeholder="{{ headers.translations.placeholder_search }}" data-unscoped-placeholder="{{ headers.translations.button_search }}" data-scoped-placeholder="{{ headers.translations.button_search }}" autocapitalize="off" type="text">
                                        <input class="text-click" type="submit" value="&#xf002;">
                                     </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </nav>
                {% if request.path != '/' %}
                <div id="search-container" class="flex" role="search">
                    <div class="div-container">
                        <form class="flex elements-row y-centered x-centered" action="/search" method="get" >
                            <input data-hotkey="s" name="value" aria-label="{{ headers.translations.button_search }}" placeholder="{{ headers.translations.placeholder_search }}" data-unscoped-placeholder="{{ headers.translations.button_search }}" data-scoped-placeholder="{{ headers.translations.button_search }}" autocapitalize="off" type="text">
                            <input class="text-click" type="submit" value="&#xf002;">
                         </form>
                    </div>
                </div>
                {% endif %}
                {% if error == False %}
                <div id="burguer-container">
                    <nav class="div-container" role="navigation">
                        <ol>
                            {% if request.path == '/about' %}
                            <li class="selected">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="/about">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                    {{ headers.translations.button_about }}
                                </a>
                            </li>
                            {% if request.path == '/data' %}
                            <li class="selected">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="/data">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                    {{ headers.translations.button_datasets }}
                                </a>
                            </li>
                            {% if request.path == '/organizations' %}
                            <li class="selected">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="/organizations">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                    {{ headers.translations.button_org }}
                                </a>
                            </li>
                            {% if request.path != '/' %}
                            {% if request.path == '/sparql' %}
                            <li class="selected">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="/sparql">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                    SPARQL Endpoint
                                </a>
                            </li>
                            {% if request.path == '/map' %}
                            <li class="selected">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="/map">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                    Map4RDF
                                </a>
                            </li>
                            {% endif %}
                        </ol>
                    </nav>
                </div>
                {% endif %}
                <main id="main-container" role="main">
                    {% block content %}
                    {% endblock %}
                </main>
                <footer id="footer-container" role="contentinfo">
                    <nav class="div-container" role="navigation">
                        <ol>
                            <li><a href="/about">{{ headers.translations.button_about }}</a></li>
                            <li><a href="/accesibility">{{ headers.translations.button_accesibility }}</a></li>
                            <li><a href="/policy#data">{{ headers.translations.button_dpolicy }}</a></li>
                            <li>
                                <a href="https://twitter.com/oeg_upm"><i class="fa fa-twitter-square" aria-hidden="true"></i>oeg</a>
                            </li>
                        </ol>
                        <span>{{ headers.time.year }} &#169; Ontology Engineering Group</span>
                    </nav>
                </footer>
            </section>
        </span>
    </body>
</html>