{% extends "base.html" %}
{% block head_js %}
<script async src='https://www.google.com/recaptcha/api.js?hl={{ headers.locale }}'></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.min.css')}}"/>
{% endblock %}
{% block content %}
{% if 'error' in request.args %}
{% set parameters = request.args['error'].split(',') %}
{% endif %}
<div id="background">
	<div class="div-container y-centered">
		<div id="hsearch-container" class="x-centered y-centered">
			<h1>{{ headers.translations.title }}</h1>
			<form class="flex elements-row y-centered" action="/search" method="get">
                <input data-hotkey="s" name="value" aria-label="{{ headers.translations.button_search }}" placeholder="{{ headers.translations.placeholder_search }}" data-unscoped-placeholder="{{ headers.translations.button_search }}" data-scoped-placeholder="{{ headers.translations.button_search }}" autocapitalize="off" type="text">
                <input class="text-click" type="submit" value="&#xf002;">
            </form>
		</div>
		<p id="hsearch-subtitle">{{ headers.translations.description }}</p>
	</div>
</div>
<div id="counters">
    <div class="div-container y-centered">
        <div class="stat-item">
            <span class="stat-item-value">{{ statistics.resources }}</span>
            <span class="stat-item-title">{{ headers.translations.home_resources }}</span>
        </div>
        <div class="stat-item">
            <span class="stat-item-value">{{ statistics.reported }}</span>
            <span class="stat-item-title">{{ headers.translations.home_dreported }}</span>
        </div>
        <div class="stat-item">
            <span class="stat-item-value">{{ statistics.downloads }}</span>
            <span class="stat-item-title">{{ headers.translations.home_downloads }}</span>
        </div>
        <div class="stat-item">
            <span class="stat-item-value">{{ statistics.org }}</span>
            <span class="stat-item-title">{{ headers.translations.button_org }}</span>
        </div>
    </div>
</div>
<div id="update-buttons">
	<div class="div-container">
		<div class="titles elements-row">
			<h2 class="update-buttons-title">{{ headers.translations.home_updates }}</h2>
			<h2 class="update-buttons-title">{{ headers.translations.home_services }}</h2>
		</div>
		<div class="buttons">
			<h2 class="update-button-datasets">{{ headers.translations.home_updates }}</h2>
			<div class="timeline">
				{% for update in updates %}
	  			<div class="entry">
	  				<div class="entry-date">
	      				<p>{{ update.time.day }} / {{ update.time.month }} / {{ update.time.year }}</p>
	      				<div class="entry-date-bubble"></div>
	    			</div>
	    			<div class="entry-value">
	      				<a href="/datasets/{{ update.id }}" class="entry-value-name">{{ update.name }}</a>
	      				<p>{{ headers.translations.home_uploadedby }}
	      					<a href="/organizations/{{ update.org_id }}" class="entry-value-org">{{ update.org }}</a>
	      				</p>
	      			</div>
	  			</div>
	  			{% endfor %}
			</div>
			<h2 class="update-button-services">{{ headers.translations.home_services }}</h2>
			<div class="services">
				<a href="/sparql" class="sparql" title="SPARQL Endpoint">
					<img class="sparql-n" alt="SPARQL Endpoint" src="{{url_for('static', filename='img-button/sparql.jpg')}}">
					<img class="sparql-h" alt="" src="{{url_for('static', filename='img-button/sparql_high.jpg')}}">
				</a>
				<a href="/map4rdf" class="map4rdf" title="Map4RDF">
					<img class="map4rdf-n" alt="Map4RDF" src="{{url_for('static', filename='img-button/map4rdf.jpg')}}">
					<img class="map4rdf-h" alt="" src="{{url_for('static', filename='img-button/map4rdf_high.jpg')}}">
				</a>
			</div>
		</div>
	</div>
</div>
<div id="contact">
	<div class="div-container">
		<h3 class="title">{{ headers.translations.home_report }}</h3>
		<form action="/contact" method="post">
			<div class="contact-row left">
				<div class="contact-section">
					<div class="input-box">
						<input data-hotkey="n" name="name" aria-label="{{ headers.translations.home_name }}" placeholder="{{ headers.translations.home_name }}" data-unscoped-placeholder="{{ headers.translations.home_name }}" data-scoped-placeholder="{{ headers.translations.home_name }}" type="text" maxlength="50" required>
						<i class="fa fa-user-o" aria-hidden="true"></i>
					</div>
					{% if parameters is not none and 'name' in parameters %}
					<p class="input-error">* {{ headers.translations.contact_error_name }}</p>
					{% endif %}
					<div class="input-box marg">
						<input data-hotkey="m" name="email" aria-label="{{ headers.translations.home_email }}" placeholder="{{ headers.translations.home_email }}" data-unscoped-placeholder="{{ headers.translations.home_email }}" data-scoped-placeholder="{{ headers.translations.home_email }}" type="email" required>
						<i class="fa fa-envelope-open-o" aria-hidden="true"></i>
					</div>
					{% if parameters is not none and 'email' in parameters %}
					<p class="input-error">* {{ headers.translations.profile_error_email }}</p>
					{% endif %}
					<div class="input-box marg">
						<input data-hotkey="a" name="subject" aria-label="{{ headers.translations.home_subject }}" placeholder="{{ headers.translations.home_subject }}" data-unscoped-placeholder="{{ headers.translations.home_subject }}" data-scoped-placeholder="{{ headers.translations.home_subject }}" type="text" maxlength="80" required>
						<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
					</div>
					{% if parameters is not none and 'subject' in parameters %}
					<p class="input-error">* {{ headers.translations.contact_error_subject }}</p>
					{% endif %}
				</div>
				<div class="contact-section marg description">
					<textarea data-hotkey="a" name="description" aria-label="{{ headers.translations.home_description }}" placeholder="{{ headers.translations.home_description }}" data-unscoped-placeholder="{{ headers.translations.home_description }}" data-scoped-placeholder="{{ headers.translations.home_description }}" maxlength="1000" required></textarea>
				</div>
				{% if parameters is not none and 'description' in parameters %}
				<p class="input-error">* {{ headers.translations.contact_error_description }}</p>
				{% endif %}
			</div>
			<div class="contact-row right">
				<div class="contact-section g-recaptcha" data-sitekey="{{ headers.tokens.captcha }}"></div>
				{% if parameters is not none and 'captcha' in parameters %}
				<p class="input-error right">* {{ headers.translations.contact_error_captcha }}</p>
				{% endif %}
				<div class="contact-section marg">
					<div class="elements-row">
						<span class="contact-check-title"><input class="contact-check" name="terms" value="checked" type="checkbox" required>{{ headers.translations.home_legal_title }}<a class="contact-check-link" href="/policy#contact-form" target="_blank">{{ headers.translations.home_legal_link }}</a></span>
					</div>
					{% if parameters is not none and 'terms' in parameters %}
					<p class="input-error right">* {{ headers.translations.contact_error_terms }}</p>
					{% endif %}
					<p class="contact-disclaimer">{{ headers.translations.home_legal_fields }}</p>
					<input value="{{ headers.translations.button_send }}" type="submit">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
