{% extends "base.html" %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.min.css')}}"/>
{% endblock %}
{% block content %}
<div class="div-container y-centered x-centered">
    <form action='/accounts' method="post" id="login" class="flex y-centered x-centered">
        <h3 class="title">{{ headers.translations.accounts_login_title }}</h3>
        <div class="input-box">
            <input data-hotkey="u" name="username" aria-label="{{ headers.translations.accounts_login_username }}" placeholder="{{ headers.translations.accounts_login_username }}" data-unscoped-placeholder="{{ headers.translations.accounts_login_username }}" data-scoped-placeholder="{{ headers.translations.accounts_login_username }}" autocapitalize="off" type="text" required>
            <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
        <div class="input-box marg">
            <input data-hotkey="p" name="password" aria-label="{{ headers.translations.accounts_login_password }}" placeholder="{{ headers.translations.accounts_login_password }}" data-unscoped-placeholder="{{ headers.translations.accounts_login_password }}" data-scoped-placeholder="{{ headers.translations.accounts_login_password }}" autocapitalize="off" type="password" required>
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        <div class="input-box marg">
            <input value="{{ headers.translations.button_signin }}" type="submit">
        </div>
    </form>
</div>
{% endblock %}