{% extends "base.html" %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/accounts.css')}}"/>
{% endblock %}
{% block head_js %}
<script type="text/javascript" src="{{url_for('static', filename='js/accounts.min.js')}}"></script>
{% endblock %}
{% block content %}
<div class="accounts">
	<div class="div-container">
		<div id="div-details" class="y-centered">
			{% if headers.session.user_edit == true %}
			<div class="separator-one-exp y-centered x-centered">
			{% else %}
			<div class="separator-one y-centered x-centered">
			{% endif %}
				<div id="logo">
					<div>
						{% if 'picture' in info %}
						<img src="{{ info.picture }}">
						{% else %}
						<i class="fa fa-user" aria-hidden="true"></i>
						{% endif %}
					</div>
					{% if 'name' in info %}
					<p>{{ info.name }}</p>
					{% endif %}
				</div>
				{% if headers.session.user_edit == true %}
				<div id="user-buttons" class="y-centered">
					<div class="elements-row y-centered x-centered">
						<i class="fa fa-address-card" aria-hidden="true"></i>
						<a href="{{ request.path }}/edit">{{ headers.translations.button_edit_profile }}</a>
					</div>
					<div id="user-logout" class="elements-row y-centered x-centered">
						<i class="fa fa-sign-out" aria-hidden="true"></i>
						<a href="/logout">{{ headers.translations.button_logout }}</a>
					</div>
				</div>
				{% endif %}
			</div>
			{% if 'description' in info %}
			{% if info_flag == true %}
			<div id="user-description" class="non-expanded">
			{% else %}
			<div id="user-description" class="expanded">
			{% endif %}
				<p class="title">{{ headers.translations.profile_bio }}</p>
				<p class="text">{{ info.description }}</p>
				{% if info_flag == true %}
				<span id="button-read-more" class="buttons-read shown text-click">{{ headers.translations.button_read_more }}</span>
				<span id="button-read-less" class="buttons-read hidden text-click">{{ headers.translations.button_read_less }}</span>
				{% endif %}
			</div>
			{% endif %}
			{% if 'website' in info or 'email' in info %}
			<div class="separator-two-exp">
			{% else %}
			<div class="separator-two">
			{% endif %}
				{% if 'website' in info or 'email' in info %}
				<div id="user-contact">
					<p class="title">{{ headers.translations.profile_contact }}</p>
					{% if 'website' in info %}
					<a href="{{ info.website }}" target="_blank" class="text"><i class="fa fa-link" aria-hidden="true"></i>{{ headers.translations.profile_web }}</a>
					{% endif %}
					{% if 'email' in info %}
					<a href="mailto:{{ info.email }}" class="text"><i class="fa fa-envelope-open-o" aria-hidden="true"></i>{{ info.email }}</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
			{% if info_tags|length > 0 %}
			<div id="user-tags">
				<p class="title">{{ headers.translations.profile_tags }}</p>
				<ul>
					{% for tag_key in info_tags.keys() %}
					<li><a href="/tags/{{ tag_key }}" target="_blank">{{ info_tags[tag_key] }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% if info_datasets_pending is not none and info_datasets_pending|length > 0 %}
			<div class="user-data">
				<p class="title">{{ headers.translations.profile_datasets_pending }}</p>
				<table>
					<thead>
						<tr>
							<th>{{ headers.translations.profile_table_name }}</th>
							<th class="middle">{{ headers.translations.profile_table_status }}</th>
							<th class="date">{{ headers.translations.profile_table_date }}</th>
						</tr>
					</thead>
					<tbody>
						{% for data in info_datasets_pending %}
						<tr>
							<td data-title="{{ headers.translations.profile_table_name }}"><a href="/datasets/{{ data['id'] }}">{{ data['name'] }}</a></td>
							{% if data['status'] == -1 %}
							<td data-title="{{ headers.translations.profile_table_status }}">{{ headers.translations.profile_table_status_0 }}</td>
							{% elif data['status'] == 0 %}
							<td data-title="{{ headers.translations.profile_table_status }}">{{ headers.translations.profile_table_status_1 }}</td>
							{% else %}
							<td data-title="{{ headers.translations.profile_table_status }}">{{ headers.translations.profile_table_status_2 }}</td>
							{% endif %}
							<td data-title="{{ headers.translations.profile_table_date }}">{{ data['date'] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
			{% if info_datasets|length > 0 %}
			{% if info_datasets_pending is not none and info_datasets_pending|length > 0 %}
			<div class="user-data marg">
			{% else %}
			<div class="user-data">
			{% endif %}
				<p class="title">{{ headers.translations.profile_datasets }}</p>
				<table>
					<thead>
						<tr>
							<th>{{ headers.translations.profile_table_name }}</th>
							<th class="middle">{{ headers.translations.profile_table_downloads }}</th>
							<th class="date">{{ headers.translations.profile_table_date }}</th>
						</tr>
					</thead>
					<tbody>
						{% for data in info_datasets %}
						<tr>
							<td data-title="{{ headers.translations.profile_table_name }}"><a href="/datasets/{{ data['id'] }}">{{ data['name'] }}</a></td>
							<td data-title="{{ headers.translations.profile_table_downloads }}">{{ data['downloads'] }}</td>
							<td data-title="{{ headers.translations.profile_table_date }}">{{ data['date'] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}